@import 'Post.css';

body {
  background-color: darkblue;
  display: flex;
}

.container {
  border: 2px solid darkred;
  display: flex;
  flex-direction: column;
}

.header {
  font-size: 18px;
}

.feature {
  font-size: 18px;
}

.content {
  font-size: 18px;
}

.footer {
  font-size: 18px;
}

.box {
  border: 1px solid darkred;
  background: grey;
}

#fire {
  color: darkred;
}

#caption {
  color: cyan;
}

#angel {
  width: 600px;
  height: 250px;
}
