html,
body {
  background-color: lightskyblue;
}

.container {
  display: grid;
  grid-template-columns: 30px repeat(3, 1fr);
  /* */
  grid-template-rows: 390px 350px 600px 430px;
  /* grid-template-columns: 30px repeat(3, 1fr); */
  grid-template-areas:
    "hd hd hd hd hd hd hd hd"
    "feat feat feat feat feat feat feat feat"
    "main main main main main main main main"
    "ft ft ft ft ft ft ft ft";
  border: 2px solid darkblue;
}

.box {
  width: 1070px;
  height: 100px;
  background-size: cover;
  border: 1px solid cyan;
  background: darkblue;
}

.header {
  color: cyan;
  grid-area: hd;
  background-size: cover;
  height: 394px;
  width: 1320px;
  position: relative;
  font-family: "Lucida Console", "Courier New", monospace;
  font-size: 15px;
}

.footer {
  grid-area: ft;
  position: relative;
  background-size: cover;
  height: 430px;
  width: 1320px;
  font-family: "Lucida Console", "Courier New", monospace;
  font-size: 15px;
}

.feature {
  grid-area: feat;
  height: 394px;
  width: 1320px;
  position: relative;
  font-family: "Lucida Console", "Courier New", monospace;
  font-size: 18px;
}

.content {
  grid-area: main;
  height: 1000px;
  width: 1320px;
  position: relative;
  font-family: "Lucida Console", "Courier New", monospace;
  font-size: 20px;
}

.button0 {
  background-color: cyan;
  font-size: 20px;
  position: relative;
  top: -80px;
  right: -870px;
}

.button1 {
  background-color: darkred;
  font-size: 20px;
  position: relative;
  top: -116px;
  right: -1000px;
}
