@import "../css/Post.css";

html,
body {
  background-color: darkcyan;
}

.container {
  border: 2px solid darkgreen;
}
.box {
  border: 1px solid darkgreen;
  background-color: seagreen;
}

.button0 {
  top: -80px;
  right: -870px;
  padding: 20px;
}

.button1 {
  top: -200px;
  right: -746px;
  padding: 20px;
}
