.footer {
<<<<<<< HEAD
  font-family: "Lucida Console", "Courier New", monospace;
  margin-top: 5%;
}
=======
    font-family: "Lucida Console", "Courier New", monospace;
    margin-top: 5%;
  }
  
>>>>>>> 5d3d4c554c98b10dbf3658a2e892eb4d40e9da1e
