body {
  background: url("../images/demoSnowFalling.gif") no-repeat;
  background-size: cover;
}

.container {
  display: grid;
  margin-top: 200px;
  margin-bottom: 200px;
  grid-template-columns: 200px 200px;
  grid-template-rows: 250px 700px 100px;
  grid-template-areas:
    "hd hd hd hd hd hd hd hd"
    "sd sd main main main main main main"
    "ft ft ft ft ft ft ft ft";
  border: 2px solid #6666ff;
}

.box {
  border: 1px solid #6666ff;
  background: purple;
  background-size: cover;
}

.header {
  grid-area: hd;
  background-image: url("../images/demoNorthernLights.gif");
  background-size: 1500px 300px, cover;
  background-repeat: no-repeat;
  font-size: 24px;
  color: cyan;
  font-family: "Lucida Console", "Courier New", monospace;
}

.sidebar {
  grid-area: sd;
  font-family: "Lucida Console", "Courier New", monospace;
  font-size: 24px;
}

.footer {
  grid-area: ft;
  font-family: "Lucida Console", "Courier New", monospace;
}

.content {
  grid-area: main;
  background-size: cover;
  background-repeat: no-repeat;
}

.flex-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  gap: 10px;
  margin: 50px;
  padding: 20px;
}

.button1 {
  background-color: yellow;
  font-size: 20px;
  padding: 3%;
  width: 250px;
  grid-column: 1;
  grid-row: 1;
}

.button2 {
  background-color: green;
  font-size: 20px;
  width: 250px;
  padding: 3%;
  grid-column: 1;
  grid-row: 2;
}

.button3 {
  background-color: orange;
  font-size: 20px;
  width: 250px;
  padding: 3%;
  grid-column: 1;
  grid-row: 3;
}

.button4 {
  background-color: blue;
  font-size: 20px;
  width: 250px;
  padding: 3%;
  grid-column: 1;
  grid-row: 4;
}

.button5 {
  background-color: springgreen;
  font-size: 20px;
  width: 250px;
  padding: 3%;
  grid-column: 1;
  grid-row: 5;
}

.button6 {
  background-color: darkorchid;
  font-size: 20px;
  width: 250px;
  padding: 3%;
  grid-column: 1;
  grid-row: 6;
}

.photoBox {
  width: 450px;
  height: 250px;
  border: solid #6666ff;
  background: purple;
}

#nestedGrid {
  display: grid;
  grid-template-columns: 48% 48%;
  grid-template-rows: 95% 95%;
  height: calc(50vh);
  grid-gap: 5px;
}

#picture {
  position: absolute;
  width: 200px;
  top: 0;
  right: 10px;
}

#one {
  justify-content: center;
  height: 100%;
  width: 100%;
  background-image: url("../images/demoSpring.jpg");
  background-size: cover;
}

#two {
  justify-content: center;
  height: 100%;
  width: 107%;
  background-image: url("../images/demoSummer.jpg");
  background-size: cover;
}

#three {
  justify-content: center;
  height: auto;
  width: 100%;
  background-image: url("../images/demoAutumn.jpg");
  background-size: cover;
}

#four {
  height: auto;
  width: 107%;
  background-image: url("../images/demoWinter.jpg");
  background-size: cover;
}

#winter {
  color: cyan;
}

/*mobile*/
@media screen and (max-width: 460px) {
}
