@import "../css/Post.css";

html,
body {
  background-color: darkgoldenrod;
}

.container {
  border: 2px solid black;
}
.box {
  border: 1px solid black;
  background-color: purple;
}

.button0 {
  top: -110px;
  right: -500px;
}

.button1 {
  top: -53px;
  left: 290px;
}
