html,
body {
  background-color: lightskyblue;
}

.container {
  display: grid;
  grid-template-columns: 30px repeat(3, 1fr);
  grid-template-rows: 390px 350px 600px 430px;
  grid-template-areas:
    "hd hd hd hd hd hd hd hd"
    "feat feat feat feat feat feat feat feat"
    "main main main main main main main main"
    "ft ft ft ft ft ft ft ft";
  border: 2px solid darkblue;
}

.box {
  width: 1070px;
  height: 100px;
  background-size: cover;
  border: 1px solid cyan;
  background: darkblue;
}

.header {
  grid-area: hd;
  color: cyan;
  background-size: cover;
  height: 394px;
  width: 1320px;
  position: relative;
  font-family: "Lucida Console", "Courier New", monospace;
  font-size: 15px;
}

.footer {
  grid-area: ft;
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  height: 430px;
  width: 1320px;
  font-family: "Lucida Console", "Courier New", monospace;
  font-size: 15px;
}

.feature {
  grid-area: feat;
  height: 394px;
  width: 1320px;
  position: relative;
  font-family: "Lucida Console", "Courier New", monospace;
  font-size: 18px;
}

.content {
  grid-area: main;
  height: 1000px;
  width: 1320px;
  position: relative;
  font-family: "Lucida Console", "Courier New", monospace;
  font-size: 20px;
}

.button0 {
  background-color: cyan;
  font-size: 20px;
  position: relative;
  top: -80px;
  right: -870px;
  padding: 20px;
}

.button1 {
  display: flex;
  background-color: darkred;
  font-size: 20px;
  position: relative;
  top: -200px;
  right: -746px;
  padding: 20px;
}

.button2 {
  background-color: orange;
  font-size: 45px;
  position: relative;
  top: -325px;
  right: -800px;
  padding: 20px;
}

.button3 {
  background-color: seagreen;
  font-size: 50px;
  position: relative;
  top: -270px;
  right: -800px;
  padding: 20px;
}

#Winter {
  color: cyan;
}

#snow {
  color: snow;
}

#Ice {
  color: green;
}

#color {
  color: red;
}

#Avatar {
  border-radius: 70%;
  width: 300px;
  height: 300px;
  background-size: cover;
}
