body {
  font-size: 34px;
  background-color: black;
}

#typographyBlog {
  text-align: center;
  height: 34%;
  width: 44%;
  margin: auto;
  font-size: 1.4em;
  line-height: 1em;
}
#p_cyan {
  color: cyan;
}

#p_red {
  color: red;
}

#p_green {
  color: green;
}

#p_yellow {
  color: yellow;
}

#p_blue {
  color: blue;
}

#p_violet {
  color: violet;
}

#p_white {
  color: snow;
}

#p_orange {
  color: orange;
}

.flex-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 20px;
}

.flex-container > span {
  width: 30%;
  margin: 20px;
  padding: 20px;
}

.button0 {
  background-color: purple;
  font-size: 20px;
  width: 250px;
}

.button2 {
  background-color: cyan;
  font-size: 20px;
  width: 250px;
}

.button3 {
  background-color: green;
  font-size: 20px;
  width: 250px;
}
